    <h2>User info</h2>
    <section>
      <%= attachment_image_tag current_user, :profile_image, size: "100x100" ,fallback: "no_image.jpg"%><br />
      <table class='table'>
        <tr>
    	    <th>name</th>
    	    <th><%= current_user.name %></th>
        </tr>
        <tr>
    	    <th>introduction</th>
    	    <tr>
    	     <th>introduction</th>
    	     <th><%= @user.introduction %></th>
        </tr>
        </tr>
        <th>
          <p><%= link_to '', edit_user_path(current_user.id), class:"btn-prof glyphicon glyphicon-wrench" %></p>
        </th>
      </table>
    </section>
